@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Space+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Space Mono", monospace;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    h1 {
        font-family: "League Spartan", sans-serif;
        color: theme("colors.summer");
    }

    p,
    h2,
    li {
        color: theme("colors.storm");
    }

    a {
        color: theme("colors.white");
    }

    section svg {
        color: theme("colors.storm");
    }

    li svg:hover {
        fill: white;
    }

    @keyframes test {
        0% {
            opacity: 0;
            transform: translateY(-10px)
        }
        70% {
            opacity: 0;
            transform: translateY(-10px)
        }
        100% {
            opacity: 1;
            transform: translateY(0px)
        }
    }

    .test {
        animation: test .5s cubic-bezier(.175,.885,.32,1.275);
    }

    .test2 {
        animation: test .5s cubic-bezier(.175,.885,.32,1.275);
    }

    .test3 {
        animation: test 1s cubic-bezier(.175,.885,.32,1.275);
    }

    .test4{
        animation: test 1.5s cubic-bezier(.175,.885,.32,1.275);
    }
}
